<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <title>Form </title>
</head>
<body>
    <div class="form">
        <div> 
        <form action="/createdetail" enctype='multipart/form-data' method="post"> 
       <div>
           <label for="name" class="name-required">Name <span>*</span></label> <br />
           <div>
           <input type="text" class="name-field" placeholder="First name" name="fname" >
           <input type="text" class="name-field" placeholder="Last name" name="lname"> 
         </div>
         
           <br />
       <label for="age">Age <span>*</span></label><br />
       <input type="number" class="number" placeholder="ex:23" name="age"><br>

       <label for="q1">Question one <span>*</span></label><br>
       <input type="radio" id=""  value="Option 1" name="q1">
<label for="Option 1">Option 1<br>
<input type="radio" id=""  value="Option 2" name="q1">
<label for="Option 2">Option 2</label><br>
<input type="radio" id=""  value="Option 3" name="q1">
<label for="Option 3">Option 3</label><br>
<input type="radio" id=""  value="Option 4" name="q1">
<label for="Option 4">Option 4</label><br>
 
       <label for="q1">Question two <span>*</span></label><br>
       <input type="radio" id=""  value="Option 1" name="q2">
    <label for="Option 1">Option 1<br>
    <input type="radio" id=""  value="Option 2" name="q2">
    <label for="Option 2">Option 2</label><br>
    <input type="radio" id=""  value="Option 3" name="q2">
    <label for="Option 3">Option 3</label><br>
    <input type="radio" id=""  value="Option 4" name="q2">
    <label for="Option 4">Option 4</label><br>

 
        <label for="q1">Question three <span>*</span></label><br/>
        <input type="radio" id=""  value="Option 1" name="q3">

        <label for="Option 1">Option 1</label>
            
        <input type="radio" id=""  value="Option 2" name="q3">
        <label for="Option 2">Option 2</label><br>
        <input type="radio" id=""  value="Option 3" name="q3">
        <label for="Option 3">Option 3</label>
        <input type="radio" id=""  value="Option 4" name="q3">
        <label for="Option 4">Option 4</label><br>
        <div class="resume">
<label for="resume">Your Resume</label><br>
        <input type="file" id="myFile" accept='pdf/*' name="pdf" id="filename">   
</div>
        </div>

<input type="submit" class="submit">
        </form>     
        </div>

    </div>
</body>
</html>